body {
  background-color: lightblue;
  font-size: larger;
}

.button {
  width: 100px;
  height: 30px;
  border: 0px none #444444;
  padding: 3px;
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  background-color: #E3E3E3; 
}

.col-6 {
  width: 40%;
  margin: 0% 1% 0% 1%;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

#form-box h3 {
  text-align: center;
}

#form-box {
  background: rgba(10,10,70,.5);
  box-shadow: 0 15px 25px rgba(40,40,40,.4);
}

#results-box h3 {
  text-align: center;
}

#results-box {
  background: rgba(60,60,70,.5);
  box-shadow: 0 15px 25px rgba(40,40,40,.4);  
}